$main-bg-color: #ffffff55;
$main-bg-color-hover: #ffffff35;
$main-font-size: 30px;

* {
    box-sizing: border-box;
    margin: 0;
}

button,
input {
    display: block;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
    background-color: #000;
    display: flex;
}

.calculator {
    width: 400px;
    margin: auto;
    padding: 10px 10px 5px 5px;
    border-radius: 5px;
    // background-color: grey;
    .input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        input {
            width: 74.666%;
            height: 100px;
            background-color: $main-bg-color;
            font-size: $main-font-size;
            color: #fff;
            padding: 10px;
        }
        button {
            width: 24%;
            height: 100px;
            background-color: #fe2b2a;
            color: #fff;
            font-size: $main-font-size;
            &:hover {
                background-color: #fe2b2add;
            }
        }
    }
    .buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .button {
            width: 24%;
            height: 100px;
            margin-bottom: 5px;
            background-color: $main-bg-color;
            color: #fff;
            font-size: $main-font-size;
            &:hover {
                background-color: $main-bg-color-hover;
            }
        }
    }
}
